{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <h4>Post your image:</h4>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    <!-- Blog Post Content Column -->
    <div class="col-lg-12">
        <!-- Blog Posts -->

        {% for post in posts %}

            {% if post.title is defined %}
                <!-- Title -->
                <h1>{{ post.title }}</h1>
                <hr>
            {% endif %}

            <!-- Date/Time --
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
            <hr>-->

            <!-- Preview Image -->
            <img class="img-responsive" src="uploads/images/{{ post.imgName }}" alt="">
            <hr>
        {% endfor %}
    </div>

</div>
<!-- /.row -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#post_imgName').fileinput({
            allowedFileExtensions: ["jpg", "JPG", "jpeg", "JPEG", "png", "PNG"],
            maxFileSize: 20480,
            maxImageWidth: 1920,
            maxImageHeight: 1080,
            resizePreference: 'width'
        });
    </script>
{% endblock %}
